body {
    margin: 60px auto;
    width: 70%;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Nunito Sans', sans-serif;
}
p {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

body, .sticky-footer-wrapper {
    min-height:100vh;
 }
 
 .flex-fill {
    flex:1 1 auto;
 }

 div, .top-buffer { 
     margin-top:20px; 
}